*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/app/build.gradle
/build.gradle
/.idea/compiler.xml
/app/src/androidTest/java/psu/pqt5055/gridtest/ExampleInstrumentedTest.java
/app/src/test/java/psu/pqt5055/gridtest/ExampleUnitTest.java
/gradle.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/misc.xml
/app/proguard-rules.pro
/settings.gradle
/.idea/vcs.xml
